<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop - Checkout</title>

    <div th:replace="fragments/styles :: copy"></div>

    <link rel="stylesheet" type="text/css" href="/css/form.css"/>
</head>

<body>

<div th:replace="fragments/loginmodal :: copy"></div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="/"><span
                    class="glyphicon glyphicon-home"></span> Home</a>
        </div>

        <div th:replace="fragments/user_status :: copy"></div>

    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron text-center">
            <h1>Codecool Shop</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
                <h2>Checkout page</h2>
                <form class="form" action="/checkout" method="post" id="checkout-form">
                    <br></br>
                    <h4>Name</h4>
                    <div class="input-group">
                            <input type="text" name='name' class="form-control" placeholder="Name"
                                   aria-describedby="basic-addon1" required="required"></input>
                        </div>

                        <h4>Email address</h4>
                        <div class="input-group">
                            <input type="email" name='email' class="form-control"
                                   placeholder="Email address" required="required"></input>
                        </div>

                        <h4>Phone number</h4>
                        <div class="input-group">
                            <input type="text" name='phone' class="form-control"
                                   placeholder="Phone number" required="required"></input>
                        </div>

                        <h4>Billing address</h4>
                        <div class="input-group">
                            <textarea name='billingAddress' class="form-control" required="required" placeholder="Billing address"></textarea>
                        </div>

                        <h4>Shipping address</h4>
                        <div class="input-group">
                            <textarea name='shippingAddress' class="form-control" required="required" placeholder="Shipping address"></textarea>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning btn-md" id="back"><a id="back-btn" href="/">Back</a></button>
                        <span id="correct-data">
                        <input type="checkbox" required="required"> My details are correct. Proceed to payment page.</input></span>
                        <button type="submit" class="btn btn-success btn-md" id="checkout">Submit</button>
                    </div>
                </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div th:replace="fragments/footer :: copy"></div>
</body>
</html>