<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop - Payment</title>

    <div th:replace="styles :: copy"></div>

    <link rel="stylesheet" type="text/css" href="/css/payment.css"/>

</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron text-center">
            <h1>Codecool Shop</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>The payment function is under construction</h2>
            <img src="img/under-construction.jpg"/>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div th:replace="footer :: copy"></div>
</body>
</html>