<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool Payment Service"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Payment Service</title>

    <div th:replace="fragments/styles :: copy"></div>

    <link rel="stylesheet" type="text/css" href="/css/payment.css"/>
    <script src="https://use.fontawesome.com/a4a23da0b3.js"></script>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron text-center">
            <h1>Codecool Payment Service</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <br></br>
            <div class="panel panel-info" id="payment-code-panel">
                <div class="panel-heading display-table">
                    <div class="row display-tr">
                        <h2 class="panel-title">Payment Process</h2>
                    </div>
                </div>
                <div class="panel-body" id="payment-code-body">
                    <form class="form-inline" action="/checkpaymentcode" method="post" id="payment-form">
                        <div class="form-group">
                            <label for="payment-code">Enter code:</label>
                            <input type="password" class="form-control" id="payment-code" name="payment-code"
                                   placeholder="Payment code" required="required"
                                   maxlength="5" pattern="^([0-9]{4,5})$" title="Numbers only, please!"/>
                        </div>
                        <div id="payment-btn-div">
                            <button type="submit" class="btn btn-info" id="pay-btn">Let's pay!</button>
                        </div>
                    </form>
                </div>
            </div>
            <br></br>
            <div class="alert alert-info alert-dismissable fade in" style="width:40%;text-align: center;display: inline-block" id="paymentInfo">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>INFO</strong>
                <br></br>
                We sent you a payment code. Please check your emails!
            </div>
        </div>
        <div class="col-md-2"></div>
        <div th:switch="${checked}" id="checked-code">
            <div th:case="${null}" class="hidden"></div>
            <div th:case="${true}" id="ok-code">
                <br></br>
                <div class="alert alert-success">
                    <p><strong>SUCCESS</strong> You successfully paid for your order. A confirmation email is on its way!</p>
                    <p>We are redirecting you to the main page.</p>
                </div>
            </div>
            <div th:case="${false}" id="wrong-code">
                <br></br>
                <div class="alert alert-danger">
                    <p><strong>ERROR</strong> Invalid payment code!</p>
                    <p>Please enter the number from the email we sent you!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br></br>
<div class="footer navbar-fixed-bottom">
    <div class="panel panel-default">
        <div class="panel-body">
            BeBaMa &copy; 2016-2017 Codecool Budapest
        </div>
    </div>
</div>
<script src="/js/script.js"></script>
<script src="/js/payments.js"></script>
<script src="/js/paymentcheck.js"></script>
</body>
</html>
