<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop - Payment</title>

    <div th:replace="styles :: copy"></div>

    <link rel="stylesheet" type="text/css" href="/css/payment.css"/>

</head>

<body>

<div th:replace="loginmodal :: copy"></div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="/"><span
                    class="glyphicon glyphicon-home"></span> Home</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li th:if="${!isLoggedIn}" id="login"><a href="/login" data-dismiss="modal" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
            </li>
            <li th:if="${!isLoggedIn}" id="signup"><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign up</a>
            </li>
            <li th:if="${isLoggedIn}" id="logout"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron text-center">
            <h1>Codecool Shop</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>The payment function is under construction</h2>
            <img src="img/under-construction.jpg"/>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div th:replace="footer :: copy"></div>
</body>
</html>