.col-md-8 form {
    text-align:center;

    display:inline-block;
    display:table;
    margin:auto;
}

h4 {
    text-align: left;
}

.input-group .form-control:first-child {
    width: 700px;
}

#correct-data {
    text-align: left;
    margin-right: 30px;
    margin-left: 200px;
}

#back-btn, #back-btn-payment, #success-btn-payment{
    text-decoration: none;
    color:white;
}

#checkout-form {
    text-align: left;
}