<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/form.css"/>
<link rel="stylesheet" type="text/css" href="/css/payment.css"/>
<body>

<div th:fragment="copy">
    <form id="form_paypal" class="form">
        <label for="paypal_username">Username:</label>
        <div class="input-group">
            <input id="paypal_username" class="form-control" placeholder="Enter username" required="required" />
        </div>
        <label for="paypal_password">Password:</label>
        <div class="input-group">
            <input id="paypal_password" class="form-control" placeholder="Enter password" required="required" />
        </div>
        <button type="submit" class="btn btn-info" id="submit_paypal">Submit</button>
        <br></br>
    </form>
</div>

</body>
</html>