<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/form.css"/>
<link rel="stylesheet" type="text/css" href="/css/payment.css"/>
<script src="https://use.fontawesome.com/a4a23da0b3.js"></script>
<body>
<div th:fragment="copy">
    <div id="panel_paypal" class="panel panel-default credit-card-box">
        <div class="panel-heading display-table">
            <div class="row display-tr">
                <h2 class="panel-title" id="paypal-title">Payment Details</h2>
                <div class="display-td">
                    <img id="paypal-logo" class="img-responsive pull-right" src="img/paypal.png"/>
                </div>
            </div>
        </div>
        <div class="panel-body">
                <form id="form_paypal" class="form" action="/paymentservice" method="post">
                    <label for="paypal_username">Username:</label>
                    <div class="input-group">
                        <input id="paypal_username" type="text" class="form-control" placeholder="Enter username" required="required" />
                    </div>
                    <label for="paypal_password">Password:</label>
                    <div class="input-group">
                        <input id="paypal_password" type="password" class="form-control" placeholder="Enter password" required="required" />
                    </div>
                    <div id="paypal-btn-div"><button type="submit" class="btn btn-info" id="submit_paypal">Submit</button>  </div>              </form>
        </div>
    </div>
</div>
</body>
</html>