<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop - Log in</title>

    <link rel="stylesheet" type="text/css" href="/css/form.css"/>
    <div th:replace="styles :: copy"></div>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="/"><span
                    class="glyphicon glyphicon-home"></span> Home</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span>Logout comes here</span></a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron text-center">
            <h1>Codecool Shop</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Log in</h2>
            <div class="container">
                <form class="form" action="/login" method="post">
                    <br></br>
                    <h4>Name</h4>
                    <div class="input-group">
                        <input type="text" name='login-name' id="login-name" placeholder="Enter name"
                               class="form-control" aria-describedby="basic-addon1" required="required"></input>
                    </div>

                    <h4>Password</h4>
                    <div class="input-group">
                        <input type="password" class="form-control" id="login-pwd" name="login-pwd"
                               placeholder="Enter password" required="required"/>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info" id="login-btn">Log in</button>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<div th:replace="footer :: copy"></div>
<script src="/js/script.js"></script>

</body>
</html>