<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop - Log in</title>

    <link rel="stylesheet" type="text/css" href="/css/form.css"/>
    <div th:replace="styles :: copy"></div>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="/"><span
                    class="glyphicon glyphicon-home"></span> Home</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span>Logout comes here</span></a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron text-center">
            <h1>Codecool Shop</h1>
        </div>
    </div>
    <h1 style="text-align: center">You are not logged in, please go back to our home page, and log in</h1>
</div>

    <div class="footer navbar-fixed-bottom">
        <div class="panel panel-default">
            <div class="panel-body">
                BeBaMa &copy; 2016 Codecool Budapest
            </div>
        </div>
    </div>
<script src="/js/script.js"></script>

</body>
</html>